                <!-- views/partials/footer.ejs -->
				<div class="copyright">
                    <%= settings.copyRight %><br>
                    Web Wallet Version <%= settings.version %><br>
                </div>
