            <!-- views/partials/footer.ejs -->
            <footer>
				<div class="footer text-with-background text-centered">
                    <%= settings.copyRight %> / Version <%= settings.version %><br>
                </div>
            </footer>
