<!-- views/home.ejs -->
<!doctype html>
<html lang="en">
    <head>
		<title><%= settings.appTitle %></title>
		<% include partials/meta %>
    </head>
    <body role="document">
		<div id='wrapper' data-bind='css: { toggled: $data.sidebarToggled }'>
			<div id="sidebar-wrapper">
				<ul class="sidebar-nav">
					<li class="sidebar-brand icon"><a href="#home"><img src="<%= settings.icon %>"/></a></li>

		<!-- If the Wallet is available, show wallet features. -->
		<!-- ko if: walletUp() -->
					<li><a href="#send"><div data-bind="css: { selected: $data.currentView() === 'send' }" class="sidebar-nav-button-content"><div class="fa fa-paper-plane fa-2x" aria-hidden="true"><span class="sidebar-nav-button-content">Send</span></div></div></a></li>
					<li><a href="#receive"><div data-bind="css: { selected: $data.currentView() === 'receive' }" class="sidebar-nav-button-content"><div class="fa fa-inbox fa-2x" aria-hidden="true"><span class="sidebar-nav-button-content">Receive</span></div></div></a></li>
					<li><a href="#history"><div data-bind="css: { selected: $data.currentView() === 'history' }" class="sidebar-nav-button-content"><div class="fa fa-calendar fa-2x" aria-hidden="true"><span class="sidebar-nav-button-content">History</span></div></div></a></li>
			<!-- ko if: role() === 'Admin' -->
					<li><a href="#explore"><div data-bind="css: { selected: $data.currentView() === 'explore' }" class="sidebar-nav-button-content"><div class="fa fa-search fa-2x" aria-hidden="true"><span class="sidebar-nav-button-content">Explore</span></div></div></a></li>
					<li><a href="#console"><div data-bind="css: { selected: $data.currentView() === 'console' }" class="sidebar-nav-button-content"><div class="fa fa-terminal fa-2x" aria-hidden="true"><span class="sidebar-nav-button-content">Console</span></div></div></a></li>
			<!-- /ko -->
			<!-- ko if: walletStatus.isEncrypted() === 'Yes' && role() === 'Admin' -->
				<!-- ko if: walletStatus.isUnlocked() === 'Yes' -->
					<li><a href="#"><div data-bind="click:lockWallet" class="sidebar-nav-button-content"><div class="fa fa-unlock fa-2x" aria-hidden="true"><span class="sidebar-nav-button-content">Lock Wallet</span></div></div></a></li>
				<!-- /ko -->
				<!-- ko if: walletStatus.isUnlocked() !== 'Yes' -->
					<li><a href="#"><div data-bind="click:unlockWallet" class="sidebar-nav-button-content"><div class="fa fa-lock fa-2x" aria-hidden="true"><span class="sidebar-nav-button-content">Unlock Wallet</span></div></div></a></li>
				<!-- /ko -->
			<!-- /ko -->
		<!-- /ko -->

		<!-- ko if: gender() === 'Female' -->
					<li><a href="#profile"><div data-bind="css: { selected: $data.currentView() === 'profile' }" class="sidebar-nav-button-content"><div class="fa fa-user fa-2x" aria-hidden="true"><span class="sidebar-nav-button-content">Profile</span></div></div></a></li>
		<!-- /ko -->
		<!-- ko if: gender() === 'Male' -->
					<li><a href="#profile"><div data-bind="css: { selected: $data.currentView() === 'profile' }" class="sidebar-nav-button-content"><div class="fa fa-user fa-2x" aria-hidden="true"><span class="sidebar-nav-button-content">Profile</span></div></div></a></li>
		<!-- /ko -->
		<!-- ko if: gender() === '' -->
					<li><a href="#profile"><div data-bind="css: { selected: $data.currentView() === 'profile' }" class="sidebar-nav-button-content"><div class="fa fa-user fa-2x" aria-hidden="true"><span class="sidebar-nav-button-content">Profile</span></div></div></a></li>
		<!-- /ko -->
					<li><a href="logout"><div class="sidebar-nav-button-content"><div class="fa fa-sign-out fa-2x" aria-hidden="true"><span class="sidebar-nav-button-content">Logout</span></div></div></a></li>

		<!-- ko if: showStats() & walletUp() -->
					<li><span>&nbsp;</span></li>
					<li><h4><%= settings.coinName %></h4></li>
					<li>Balance: <span data-bind='text: walletStatus.totalFmt'></span></li>
					<li>Available: <span data-bind='text: walletStatus.availableFmt'></span></li>
			<!-- ko if: role() === 'Admin' -->
					<li>Staking: <span data-bind='text: walletStatus.stakeFmt'></span></li>
					<li>Block Height: <span data-bind="text: walletStatus.blocks"></span></li>
					<li>Wallet Encrypted: <span data-bind="text: walletStatus.isEncrypted"></span></li>
					<li>Currently Staking: <span data-bind="text: walletStatus.isUnlocked"></span></li>
			<!-- /ko -->
					<li>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-bind="style: { width: walletStatus.blockProgress }">
								Blocks: <span data-bind="text: walletStatus.blocks"></span> / <span data-bind="text:walletStatus.totalBlocks"></span> 
							</div>
						</div>
					</li>
		<!-- /ko -->
				</ul>
			</div>

			<div id='page-content-wrapper'>
				<div class='top-content'>
					<div class='top-nav container'>
						<div class='row'>
							<div class="button-settings"><span data-bind="click: toggleSidebar" class="glyphicon glyphicon-menu-hamburger"></span></div>
		<!-- ko if: walletUp() -->
							<div class="button-refresh"><span data-bind="click: refresh" class="glyphicon glyphicon-refresh"></span></div>
		<!-- /ko -->
							<!-- Top Navigation -->
							<a href="#home">
								<div data-bind="css: { selected: $data.currentView() === 'home' }" class="top-nav-button col-sm-3">
									<div class="top-nav-glyph glyphicon glyphicon-search" aria-hidden="true"></div>
									<div class="top-nav-text">Explore</div>
								</div>
							</a>
							<a href="#page2">
								<div data-bind="css: { selected: $data.currentView() === 'page2' }" class="top-nav-button col-sm-3" >
									<div class="top-nav-glyph glyphicon glyphicon-film" aria-hidden="true"></div>
									<div class="top-nav-text">Page 2</div>
								</div>
							</a>
						</div>
					</div>
				</div>
		<!-- ko if: isLoadingStatus() --> 
				<img src="images/loading.gif" style="display: block; margin-top: 50px; margin-left: auto; margin-right: auto;">
		<!-- /ko -->
		<!-- ko if: !isLoadingStatus() --> 
				<!--ko template: currentView --> <!--/ko -->
		<!-- /ko -->
			</div>

			<div class="footer text-with-background text-centered">
				<% include partials/footer %>
			</div>
		</div>
		<div data-bind="modal:showDialog"  id="defaultModal" class="modal" data-backdrop="static">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- ko template: { name: $data.modalView, data: $data.modalViewModel } --><!-- /ko -->
				</div>
			</div>
		</div>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="js/lib/ie10-viewport-bug-workaround.js"></script>
		<!--script data-main="js/main" src="js/require.js"></script-->
		<script data-main="js/main" src="js/require.debug.js"></script>
    </body>
</html>
