<!-- views/signup.ejs -->
<!doctype html>
<html lang="en">
	<head>
		<title><%= settings.coinName %> - Signup</title>
		<% include partials/meta %>
	</head>
	<body role="document" class="intro">
		<div id='wrapper'>
			<div id='page-content-wrapper'>
				<div id="main" class="container" role="main">
					<div class="well">
						<h1 class="text-primary"><span class="fa fa-sign-in"></span> <%= settings.coinName %> - Signup</h1>
						<!-- show any messages that come back with authentication -->
						<% if (message.length > 0) { %>
							<div class="alert alert-danger"><%= message %></div>
						<% } %>
						<!-- LOGIN FORM -->
						<form class="form-horizontal" role="form" action="signup" method="post">
							<div class="form-group">
								<label class="control-label col-sm-2" for="name">Name</label>
								<div class="col-sm-10">
									<input class="form-control" type="text" name="name">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="email">Email</label>
								<div class="col-sm-10">
									<input class="form-control" type="text" name="email">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="password">Password</label>
								<div class="col-sm-10">
									<input class="form-control" type="password" name="password">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="passwordRepeat">Repeat Password</label>
								<div class="col-sm-10">
									<input class="form-control" type="password" name="passwordRepeat">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button class="btn btn-primary btn-lg" type="submit">Signup</button>
								</div>
							</div>
						</form>
						<div>
							<hr>
							<p>Already have an account? <a href="login">Login here</a>.</p>
							<p>Or, go back to the <a href="<%= settings.chRoot %>/">Home</a> page.</p>
						</div>
					</div>
				</div>
				<% include partials/footer %>
			</div>
		</div>
	</body>
</html>