<div class="well" data-bind="with:profile">

	<!-- PROFILE -->
	<h1 class="text-primary"><span class="fa fa-user"></span> <span data-bind="text: wallet.settings().appTitle"></span> Profile</h1>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<!-- Personal data -->
			<label class="control-label col-sm-2" for="name">First Name</label>
			<div class="col-sm-4">
				<p><input class="form-control" type="text" id="first_name" data-bind="text, textInput: first_name" placeholder="Enter your first name."></input></p>
			</div>
			<label class="control-label col-sm-2" for="email">Last Name</label>
			<div class="col-sm-4">
				<p><input class="form-control" type="text" id="last_name" data-bind="text, textInput: last_name" placeholder="Enter your last name."></input></p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="email">Email</label>
			<div class="col-sm-4">
				<p><input class="form-control" type="email" id="email" data-bind="email, textInput: email" placeholder="Enter your email address."></input></p>
			</div>
			<label class="control-label col-sm-2" for="gender">Gender</label>
			<div class="col-sm-4">
				<p><select class="form-control" data-type="select" id="gender" data-bind="options: profilePulldown.genderValues, value: gender" data-title="Select your gender."></select></p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="age">Date of Birth</label>
			<div class="col-sm-4">
				<p><a href="#profile" class="editable form-control" id="dob" data-type="date" data-bind="editable: dob" data-datepicker="{ startView: 2, autoclose: true }" data-format="yyyy-mm-dd" data-viewformat="yyyy-mm-dd" data-mode="popup" data-title="When were you born?" data-placement="bottom"></a></p>
			</div>
			<label class="control-label col-sm-2" for="country">Country</label>
			<div class="col-sm-4">
				<p><select class="form-control" data-type="select" id="country" data-bind="options: profilePulldown.countryValues, optionsText: 'country', optionsValue: 'code', value: country"></select></p>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="description">Description</label>
			<div class="col-sm-10">
				<p><input class="form-control" type="text" id="description" data-bind="text, textInput: description" placeholder="Describe yourself. (Optional)"></input></p>
			</div>
		</div>
		<!-- ko if: terms() === false -->
		<div class="form-group">
			<p class="form-control-addon col-sm-offset-7 col-sm-5"><b>I Agree to the <a href="#terms">Terms &amp; Conditions</a></b> <input type="checkbox" data-bind="checked: terms"></p>
		</div>
		<!-- /ko -->
		<p>&nbsp;</p>
		<div class="form-group" style="text-align: right">
			<div class="col-sm-12">
				<h3 align="center" data-bind="text:statusMessage"></h3>
				<button type="submit" class="btn btn-primary btn-lg" data-bind="disable: !$data.isDirty(), click: Reset">Reset</button> &nbsp;
				<button type="submit" class="btn btn-primary btn-lg" data-bind="disable: !$data.isDirty() || !$data.canSubmit(), click: Submit">Submit</button>
			</div>
		</div>
	</form>

	<div class="small">
	<!-- LOCAL -->
	<!-- ko if: login_type() === 'local' -->
		<h4 class="text-primary"><span class="fa fa-database"></span> Signed in with ID: <span data-bind="text: login_id"></span> <span class="small">[<a href="password">change password</a>]</span></h4>
	<!-- /ko -->
	<!-- FACEBOOK -->
	<!-- ko if: login_type() === 'facebook' -->
		<h4 class="text-primary"><span class="fa fa-facebook"></span> Signed in with Facebook</h4>
	<!-- /ko -->
	<!-- GOOGLE -->
	<!-- ko if: login_type() === 'google' -->
		<h4 class="text-primary"><span class="fa fa-google-plus"></span> Signed in with Google</h4>
	<!-- /ko -->
	<!-- TWITTER -->
	<!-- ko if: login_type() === 'twitter' -->
		<h4 class="text-primary"><span class="fa fa-twitter"></span> Signed in with Twitter</h4>
	<!-- /ko -->
	</div>

</div>
