<div class="well" data-bind="with:receive">

    <!-- RECEIVE -->
	<h1 class="text-primary"><span class="fa fa-inbox"></span> Receive <span data-bind="text: wallet.settings().coinName"></span> to these Addresses</h1>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<table class="table table-hover table-striped table-bordered">
				<thead>
					<tr>
						<th>Account</th>
						<th>Address</th>
					</tr>
				</thead>
				<!-- ko if: $data.addresses -->
				<tbody data-bind="foreach: addresses">
					<!-- ko if: $data.address -->
					<tr>
						<td data-bind="text: account"></td>
						<td data-bind="text: address"></td>
					</tr>
					<!-- /ko -->
				</tbody>
				<!-- /ko -->
			</table>
		</div>
		<div class="form-group" style="text-align: right">
			<div class="col-sm-12">
				<h3 align="center" data-bind="text:statusMessage"></h3>
				<button type="button" class="btn btn-primary btn-lg" data-bind="click: newAddress">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Address
				</button>
			</div>
		</div>
	</form>

</div>
