<div class="well" data-bind="with:send">

    <!-- SEND -->
    <h1 class="text-primary"><span class="fa fa-paper-plane"></span> Send <span data-bind="text: wallet.settings().coinName"></span> to Someone</h1>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2" for="recipient">To Address</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="recipient" data-bind="textInput: recipientAddress" placeholder="Enter a wallet address (e.g. H34lFEaCKE1QB8oMi9NUSpic9qD1Cfk2Rf)"/>
            </div>
        </div>
        <!--div class="form-group">
            <label class="control-label col-sm-2" for="label">Label:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="label" data-bind="textInput:label" placeholder="Assign a label to the address (e.g. Joey)">
            </div>
        </div-->
        <div class="form-group">
            <label class="control-label col-sm-2" for="amount">Amount</label>
            <div class="col-sm-5">
                <input class="form-control" type="number" id="amount" data-bind="numericInput, textInput: amount" placeholder="Amount of coin to send."/>
            </div>
            <div class="col-sm-5">
                <span data-bind="text: coinSymbol"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="txcomment">Comment</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="txcomment" data-bind="textInput: txcomment" placeholder="Add a public comment to the transaction. (Optional)"/>
            </div>
        </div>

        <div class="form-group" style="text-align: right">
            <div class="col-sm-12">
                <h3 align="center" data-bind="text:statusMessage"></h3>
                <button class="btn btn-primary btn-lg" type="submit" data-bind="disable: !$data.canSend(), click: sendSubmit">Send</button>
            </div>
        </div>
    </form>

</div>
