<div>
    <div class="container">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-sm-5">
            <!-- ko if: forEncryption -->
                    <p class="form-control-static">Your wallet is unencrypted. Please enter a password of 10 or more characters or 8 or more words.</p>
            <!-- /ko -->
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="wallet-passphrase">Passphrase:</label>
                <div class="col-sm-3">
                    <input data-bind="textInput: walletPassphrase" type="password" class="form-control" id="wallet-passphrase" placeholder="Enter wallet passphrase">
                </div>
            </div>

            <!-- ko if: forEncryption -->
            <div class="form-group">
                <label class="control-label col-sm-2" for="wallet-passphrase"></label>
                <div class="col-sm-3">
                    <input data-bind="textInput: walletPassphraseConfirm" type="password" class="form-control" id="wallet-passphrase" placeholder="Repeat wallet passphrase">
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: !($data.forEncryption()) &&  $data.canSpecifyStaking() -->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-3">
                    <div class="checkbox">
                        <label>
                            <input data-bind="checked: stakingOnly, enable: canSpecifyStaking" type="checkbox"> Staking only
                        </label>
                    </div>
                </div>
            </div>  
            <!-- /ko -->
        </form>
    </div>
</div>
